<form id="formDistributionCenter">
    <div class="form-group row mt-2 required">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3 control-label">
            DEA No.
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCDEANumber" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row required">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3 control-label">
            Name
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCName" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row mt-2 required">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3 control-label">
            Address 1
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCAddress1" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row mt-2">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3">
            Address 2
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCAddress2" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row mt-2">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3">
            City
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCCity" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row mt-2">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3">
            State
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCState" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>

    <div class="form-group row mt-2">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold ml-3">
            ZipCode
        </label>
        <div class="col-sm-7">
            <input type="text" id="inputDCZipCode" class="form-control height-25">
        </div>
        <span class="col-sm-1"></span>
    </div>
    <div class="form-group row mt-2">
        <span class="col-sm-1"></span>
        <label class="col-sm-2 col-form-label font-10 font-weight-bold"></label>
        <div class="col-sm-7" style="text-align: right">
            <span id="spanEditDistributionCenterAlertNoChanges" style="display: none" class="badge badge-danger _600 font-10 p-1">
                No changes detected
            </span>
            <a id="btnCreateDistributionCenter" onclick="DIRECTCUSTOMERS.create_update_distribution_center($(this))" db="{{ db_name }}" class="btn btn-warning width-80px">
                Create
            </a>
            <a id="btnCancelCreateDistributionCenter" class="btn btn-primary width-80px" style="margin-right: -1em">
                Cancel
            </a>
        </div>
        <span class="col-sm-1"></span>
    </div>

</form>
