{% load static %}
{% load extras %}

<!--
    Ticket EA-773
     Example 1 (Add Product to Contract):
     Adding a product to contract should take this form:
     02/20/2020 {TIME} pbeirne@mdhinsight.com added Item: {REFERENCE} to {CONTRACT}

    Example 2 (Taking action in CB)
    Whenever an action is taken on a CB, this should be recorded as well:
    02/20/2020 {TIME}  pbeirne@mdhinsight.com used action {ACTIONNAME} on CBID {REFERENCE}

    {date} {time} {username} {audit action verb} {entity model} {reference} or {specific actions}
-->

<ul class="timeline">
    {% for audit in audits %}
        <li class="d-flex justify-content-between align-content-end">
            <p class="ml-3">
                <span>
                    {{ audit.created_at|date:'m/d/Y H:i:s' }}
                </span>
                <span class="ml-1 empower-color-blue">
                    {{ audit.username }}
                </span>
                <span class="ml-1">

                    {% if audit.entity1_name == 'ChargeBack' or audit.entity1_name == 'ChargeBackLine' %}
                        used action <strong>{{ audit.action }}</strong> on {{ audit.entity1_name }}
                        {% if audit.action == 'Purge' %}
                            <!-- Ticket 773 - In the case of a purge action, you cannot link to the CB Detail -->
                            {{ audit.entity1_reference }}
                        {% else %}
                            <span db="{{ db_name }}" target="/chargebacks/{{ audit.entity1_id }}/details" class="ml-1">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>
                        {% endif %}

                    {% else %}

                        <strong>{{ audit.action }}</strong> {{ audit.entity1_name }}
                        {% if audit.entity1_name == 'Item' %}
                            <span db="{{ db_name }}" target="/products/{{ audit.entity1_id }}/details">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>
                            {% if audit.entity2_id %}
                                on {{ audit.entity2_name }}:
                                {% if audit.entity2_name == 'Contract' %}
                                    <span db="{{ db_name }}" target="/contracts/{{ audit.entity2_id }}/details">
                                        <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                            {{ audit.entity2_reference }}
                                        </a>
                                    </span>
                                {% else %}
                                    {{ audit.entity2_reference }}
                                {% endif %}
                            {% endif %}

                        {% elif audit.entity1_name == 'DirectCustomer' %}
                            <span db="{{ db_name }}" target="/customers/direct/{{ audit.entity1_id }}/details/info">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>

                        {% elif audit.entity1_name == 'IndirectCustomer' %}
                            <span db="{{ db_name }}" target="/customers/indirect/{{ audit.entity1_id }}/details/info">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>
                        {% elif audit.entity1_name == 'Contract' %}
                            <span db="{{ db_name }}" target="/contracts/{{ audit.entity1_id }}/details">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>
                        {% elif audit.entity1_name == 'ChargebackLine' %}
                            <span db="{{ db_name }}" target="/chargebacks/{{ audit.entity1_id }}/line_details">
                                <a onclick="APP.execute_url($(this));" class="empower-color-blue" data-dismiss="modal">
                                    {{ audit.entity1_reference }}
                                </a>
                            </span>
                        {% else %}
                            <a class="empower-color-blue" data-dismiss="modal">
                                {{ audit.entity1_reference }}
                            </a>
                        {% endif %}

                    {% endif %}

                </span>
            </p>
        </li>
    {% empty %}
        <li class="d-flex justify-content-between align-content-end">
            <h5 class="ml-4">No Recent Activity</h5>
        </li>
    {% endfor %}
</ul>