{% load static %}

<div class="tab-pane" id="tabRecipients">
    <div class="p-3 b-b _600 empower-color-blue font-14">Recipients</div>
    <div class="row p-3">
        <!-- Processing Recipients -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="font-12 empower-color-blue _600">Processing Recipients</p>
                            <table class="table table-hover table-condensed table-borderless">
                                <thead class="bg-light text-dark font-11">
                                <tr>
                                    <th>Email</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th class="width-5 text-center"></th>
                                </tr>
                                </thead>
                                <tbody id="tbodyRecipientsProcessing" class="font-11"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning w-100" onclick="SETTINGS_RECIPIENTS.show_modal('p');">
                        Add Processing Alert Recipient
                    </a>
                </div>
            </div>
        </div>
        <!-- Alert Recipients -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="font-12 empower-color-blue _600">Alert Recipients</p>
                            <table class="table table-hover table-condensed table-borderless">
                                <thead class="bg-light text-dark font-11">
                                <tr>
                                    <th>Email</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th class="width-5 text-center"></th>
                                </tr>
                                </thead>
                                <tbody id="tbodyRecipientsAlert" class="font-11"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning w-100" onclick="SETTINGS_RECIPIENTS.show_modal('a');">
                        Add Alert Recipient
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>