{% extends 'base.html' %}
{% load static %}
{% load extras %}

<!-- Content Header -->
{% block content_header_right %}
    {% if all_contracts %}
        {% if is_read_only_user %}
                <span>
                    <a onclick="APP.get_read_only_user_error();" class="btn btn-warning">
                        Create Contract
                    </a>
                </span>
                <span>
                    <a onclick="APP.get_read_only_user_error();" class="btn btn-warning">
                        Upload Contract Pricing
                    </a>
                </span>

                <span>
                    <a onclick="APP.get_read_only_user_error();" class="btn btn-warning">
                        Upload Contract Members
                    </a>
                </span>
            {% else %}
                 <span db="{{ db_name }}" target="/contracts/create">
                    <a onclick="APP.execute_url($(this))" class="btn btn-warning">
                        Create Contract
                    </a>
                </span>
                <span db="{{ db_name }}" target="/contracts/create">
                    <a onclick="CONTRACTS_VIEW.openModalUploadUpdatesContracts()" class="btn btn-warning">
                        Upload Contract Pricing
                    </a>
                </span>

                <span db="{{ db_name }}" target="/contracts/create">
                    <a data-toggle="modal" data-target="#modalMembershipFileUpload" class="btn btn-warning">
                        Upload Contract Members
                    </a>
                </span>
            {% endif %}
    {% endif %}
{#    <a class="btn btn-warning" onclick="APP.show_notifications('Contract');">#}
{#        <i class="fas fa-tasks"></i>#}
{#    </a>#}
{% endblock %}

{% block content_body %}

    {% if company.has_contracts %}
        <!-- Expiring Contracts -->
        {% if expiring_contracts_count > 0 %}
            <div class="row">
                <!-- table -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-3">
                            <p class="empower-color-blue _600 font-13">
                                Expiring Contracts
                            </p>
                            <div class="row" style="margin-top: -1em">
                                <div class="col-5 text-left">
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divExpiringContractsListTabOptionsCustomers" class="nav nav-md font-10">
                                            <input id="inputExpiringContractsListCustomerFilterID" type="hidden" value="0" />
                                            <a onclick="CONTRACTS_VIEW.load_expiring_data($(this))" cf="1" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Direct
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_expiring_data($(this))" cf="2" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Indirect
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_expiring_data($(this))" cf="0" sf="" class="nav-link pl-0 active">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 text-right" >
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divExpiringContractsListTabOptionsStatuses" class="nav nav-md font-10">
                                            <input id="inputExpiringContractsListStatusFilterID" type="hidden" value="{{ status_active }}" />
                                            {% for status in statuses %}
                                                <a onclick="CONTRACTS_VIEW.load_expiring_data($(this))" sf="{{ status.0 }}" cf="" class="{% if status.0 == status_active %}active{% endif %} nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                    <i class="fa fa-check-circle"></i> {{ status.1 }}
                                                </a>
                                            {% endfor %}
                                            <a onclick="CONTRACTS_VIEW.load_expiring_data($(this))" sf="0" cf="" class="nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="tableContractViewExpiringContracts" class="table table-hover table-borderless table-condensed w-100">
                                <thead class="bg-light">
                                <tr class="font-11 text-dark">
                                    <th style="display: none">Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Customer</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="font-10"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- chart -->
                <div class="col pl-0">
                    <div class="card h-100">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-9">
                                    <p class="empower-color-blue _600 font-13">
                                        Contract Performance
                                    </p>
                                </div>
                                <div class="col-3 text-right">
                                    <select class="form-control" onchange="CONTRACTS_VIEW.update_perfomance_chart($(this))">
                                        {% for range in data_ranges %}
                                            <option value="{{ range.0 }}" {% if range.0 == 'MTD' %}selected{% endif %}>{{ range.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <div id="divContractPerformanceSpinnerLoader" class="text-center" style="display: none">
                                    <img src='{% static 'images/loading2.gif' %}' width='55' height='55' alt='chart_loader'/>
                                </div>
                                <canvas id="canvasContractPerformance" class="mt-2 w-100" style="display: none"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <!-- table all contracts -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col">
                                    <p class="empower-color-blue _600 font-13">
                                        Contracts
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: -1em">
                                <div class="col-5 text-left">
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divContractsListTabOptionsCustomers" class="nav nav-md font-10" >
                                            <input id="inputContractsListCustomerFilterID" type="hidden" value="0" />
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="1" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Direct
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="2" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Indirect
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="0" sf="" class="nav-link pl-0 active">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 text-right">
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divContractsListTabOptionsStatuses" class="nav nav-md font-10">
                                            <input id="inputContractsListStatusFilterID" type="hidden" value="{{ status_active }}" />
                                            {% for status in statuses %}
                                                <a onclick="CONTRACTS_VIEW.load_data($(this))" sf="{{ status.0 }}" cf="" class="{% if status.0 == status_active %}active{% endif %} nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                    <i class="fa fa-check-circle"></i> {{ status.1 }}
                                                </a>
                                            {% endfor %}
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" sf="0" cf="" class="nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="tableContractViewAllContracts" class="table table-hover table-borderless table-condensed w-100">
                                <thead class="bg-light">
                                <tr class="font-11 text-dark">
                                    <th style="display: none" class="notexport">Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Customer</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th class="notexport"></th>
                                </tr>
                                </thead>
                                <tbody class="font-10"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- table for chart -->
                <div class="col pl-0">
                    <div class="card h-100">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col">
                                    <p class="empower-color-blue _600 font-13">
                                        Contract Information
                                    </p>
                                </div>
                            </div>
                            <table id="tableContractInformation" class="table table-condensed table-borderless table-hover">
                                <thead class="bg-light">
                                <tr class="font-10 dark-light text-black">
                                    <th>Contract Number</th>
                                    <th>Contract Sales</th>
                                    <th>Units Sold</th>
                                    <th>Unique Ind Purchasers</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="row">
                <!-- table all contracts -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col">
                                    <p class="empower-color-blue _600 font-13">
                                        Contracts
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: -1em">
                                <div class="col-5 text-left">
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divContractsListTabOptionsCustomers" class="nav nav-md font-10">
                                            <input id="inputContractsListCustomerFilterID" type="hidden" value="0" />
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="1" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Direct
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="2" sf="" class="nav-link pl-0">
                                                <i class="fa fa-check-circle"></i> Indirect
                                            </a>
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" cf="0" sf="" class="nav-link pl-0 active">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 text-right" >
                                    <div class="nav-active-border b-primary bottom">
                                        <div id="divContractsListTabOptionsStatuses" class="nav nav-md font-10">
                                            <input id="inputContractsListStatusFilterID" type="hidden" value="{{ status_active }}" />
                                            {% for status in statuses %}
                                                <a onclick="CONTRACTS_VIEW.load_data($(this))" sf="{{ status.0 }}" cf="" class="{% if status.0 == status_active %}active{% endif %} nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                    <i class="fa fa-check-circle"></i> {{ status.1 }}
                                                </a>
                                            {% endfor %}
                                            <a onclick="CONTRACTS_VIEW.load_data($(this))" sf="0" cf="" class="nav-link pl-0" style="padding: 0.75rem 1.0rem">
                                                <i class="fa fa-circle"></i> All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="tableContractViewAllContracts" class="table table-hover table-borderless table-condensed w-100">
                                <thead class="bg-light">
                                <tr class="font-11 text-dark">
                                    <th style="display: none" class="notexport">Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Customer</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th class="notexport"></th>
                                </tr>
                                </thead>
                                <tbody class="font-10"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- chart -->
                <div class="col pl-0">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-9">
                                    <p class="empower-color-blue _600 font-13">
                                        Contract Performance
                                    </p>
                                </div>
                                <div class="col-3 text-right">
                                    <select class="form-control" onchange="CONTRACTS_VIEW.update_perfomance_chart($(this))">
                                        {% for range in data_ranges %}
                                            <option value="{{ range.0 }}" {% if range.0 == 'MTD' %}selected{% endif %}>{{ range.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <div id="divContractPerformanceSpinnerLoader" class="text-center" style="display: none">
                                    <img src='{% static 'images/loading2.gif' %}' width='55' height='55' alt='chart_loader'/>
                                </div>
                                <canvas id="canvasContractPerformance" class="mt-2 w-100" style="display: none"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- table for chart -->
                    <div class="card mt-2">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col">
                                    <p class="empower-color-blue _600 font-13">
                                        Contract Information
                                    </p>
                                </div>
                            </div>
                            <table id="tableContractInformation" class="table table-condensed table-borderless table-hover">
                                <thead class="bg-light">
                                <tr class="font-10 dark-light text-black">
                                    <th>Contract Number</th>
                                    <th>Contract Sales</th>
                                    <th>Units Sold</th>
                                    <th>Unique Ind Purchasers</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

    {% else %}

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4 m-4 text-center empower-color-purple">
                        <i class="fas fa-file-alt fa-6x"></i>
                        <p class="mt-2">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span class="font-16">There aren't any Contracts added yet</span>
                        </p>
                        <p class="mt-2">
                            {% if is_read_only_user %}
                                <span>
                                    <a onclick="APP.get_read_only_user_error();" class="btn btn-warning">
                                        Add your first Contract
                                    </a>
                                </span>
                            {% else %}
                                <span db="{{ db_name }}" target="/contracts/create">
                                    <a onclick="APP.execute_url($(this))" class="btn btn-warning">
                                        Add your first Contract
                                    </a>
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- modal -->
    {% include 'contracts/modals.html' %}

{% endblock %}


{% block scripts %}
    <!-- Custom Scripts -->
    <script>
        let SCROLLY = '83vh';
        {% if expiring_contracts_count > 0 %}
            SCROLLY = '30vh';
        {% endif %}

        let EXPIRING_CONTRACTS_COUNT = {{ expiring_contracts_count }};
    </script>
    <script>
     let is_read_only_user = false
     {% if is_read_only_user %}
          is_read_only_user = true
     {% endif %}
     </script>
    <script src="{% static 'js/libs/Chart.min.js' %}"></script>
    <script src="{% static 'js/app/contracts/contract_view.js' %}"></script>
    <script src="{% static 'js/app/contracts/contract_handler.js' %}"></script>

{% endblock %}