{% extends 'base.html' %}

{% load static %}
{% load extras %}
{% load humanize %}

{% block content_header_left %}
    {{ header_title }}
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body p-4">
                    <form id="fm852DataSearch" autocomplete="off" action="">
                        <input type="hidden" id="input852SearchSelectedFilters"/>
                        <div class="row">
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Wholesaler Name
                                </label>
                                <div class="input-group">
                                    <select id="selectSearchFiltersCustomer" class="myselect2 form-control">
                                        <option value="">All Wholesalers</option>
                                        {% for wholesaler in wholesalers %}
                                            <option value="{{ wholesaler.name }}">
                                                {{ wholesaler.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Distribution Center DEA Number
                                </label>
                                <div class="input-group">
                                    <select id="selectSearchFiltersDistributor" class="myselect2 form-control">
                                        <option value="">All Distributors</option>
                                        {% for distributor in distributors %}
                                            <option value="{{ distributor.dea_number }}">
                                                {{ distributor.dea_number }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Created Date
                                </label>
                                <div class="input-group">
                                    <input id="inputSearchFiltersCreateDate" type='text' class="form-control height-32 datepicker" placeholder="mm/dd/yyyy" value="{{ ch_start_date|date:'m/d/Y' }}">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Report Start Date
                                </label>
                                <div class="input-group">
                                    <input id="inputSearchFiltersReportStartDate" type='text' class="form-control height-32 datepicker" placeholder="mm/dd/yyyy" value="{{ ch_end_date|date:'m/d/Y' }}">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Report End Date
                                </label>
                                <div class="input-group">
                                    <input id="inputSearchFiltersReportEndDate" type='text' class="form-control height-32 datepicker" placeholder="mm/dd/yyyy" value="{{ ch_end_date|date:'m/d/Y' }}">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="col-form-label font-10 font-weight-bold">
                                    Item NDC
                                </label>
                                <div class="input-group">
                                    <select id="selectSearchFiltersItemNdc" class="myselect2 form-control">
                                        <option value="">All Items</option>
                                        {% for item in items %}
                                            <option value="{{ item.ndc }}">
                                                {{ item.ndc }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="text-right mt-3">
                        <a class="btn btn-primary" onclick="DATA_852.clear();">Clear</a>
                        <a class="btn btn-warning" onclick="DATA_852.search();">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card p-1">
                <div class="text-right">
                    <a class="btn btn-sm btn-default tt" onclick="DATA_852.export('excel')" title="Export to Excel">
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                    <a class="btn btn-sm btn-default tt" onclick="DATA_852.export('csv')" title="Export to CSV">
                        <i class="fa fa-file-text-o"></i>
                    </a>
                </div>
                <div class="card-body">
                    <table id="tableSearch852Data" class="table table-condensed table-hover table-borderless table-striped nowrap">
                        <thead class="bg-light">
                        <tr class="font-10 text-dark">
                            <th title="Wholesaler Name">Wholesaler Name</th>
                            <th title="Distribution Center Name">Distribution Center Name</th>
                            <th title="Distribution Center DEA">Distribution Center DEA</th>
                            <th title="Report Start Date">Report Start Date</th>
                            <th title="Report End Date">Report End Date</th>
                            <th title="Item NDC">Item NDC</th>
                            <th title="Item Description">Item Description</th>
                            <th title="Bailment Sales Quantity">BS</th>
                            <th title="Total Sales Quantity">TS</th>
                            <th title="Beginning Balance Quantity">QB</th>
                            <th title="On Hand Quantity">QA</th>
                            <th title="On Order Quantity">QP</th>
                            <th title="In Transit Quantity">QI</th>
                            <th title="Saleable Quantity Received">QR</th>
                            <th title="Actual Sales Quantity">QS</th>
                            <th title="Inventory Adjustment Quantity Positive">QT</th>
                            <th title="Saleable Customer Return Quantity">QU</th>
                            <th title="Quantity Withdrawn Frm Whs">QW</th>
                            <th title="Quantity Out of Stock">QO</th>
                            <th title="Planned Inventory Quantity">QN</th>
                            <th title="Quantity Damaged Or OnHold">QH</th>
                            <th title="Quantity Committed">QC</th>
                            <th title="Quantity Transferred">QZ</th>
                            <th title="Additional Demand Quantity">QD</th>
                            <th title="Ending Balance Quantity">QE</th>
                            <th title="Created Date">Created Date</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
        <script src="{% static 'js/app/sales_and_inventory/data_852.js' %}"></script>
{% endblock %}