{% extends 'base.html' %}
{% load extras %}
{% load static %}
{% load humanize %}

{% block content_header_center %}
    <form class="w-100 d-flex justify-content-center">
        <input type="hidden" name="overwrite_query" value="1">
        <span class="font-14 _600 text-center mr-1">Viewing:</span>
        <input type="text" id="inputDashboardFilterStartDate" value="{{ start_date|date:'m/d/Y' }}" placeholder="start date" class="form-control width-100px datepicker"/>
        <p class="font-20 _600 text-center p-0 mx-1">-</p>
        <input type="text" id="inputDashboardFilterEndDate"  value="{{ end_date|date:'m/d/Y' }}" placeholder="end date" class="form-control width-100px datepicker mr-1"/>
        <a onclick="DASHBOARD.apply_dates_filter()" class="btn btn-success width-100px form-control text-white font-weight-bold p-1 m-0">Filter</a>
    </form>
{% endblock %}

{% block content_header_right %}
    <div class="col-sm-9" style="float: right">
        <select onchange="DASHBOARD.apply_data_range_filter($(this));" class="form-control myselect2" id="date_range_filter">
            <option {% if query_filter == 'Custom' %}selected {% endif %} {% if query_filter != 'Custom' %}disabled{% endif %} value="" style="background-color: #dedede">Custom</option>
            {% for range in data_ranges %}
                <option value="{{ range.0 }}" {% if query_filter == range.0 %}selected{% endif %}>{{ range.0 }} - {{ range.1 }}</option>
            {% endfor %}
        </select>
    </div>

{% endblock %}

{% block content_body %}

    <!-- first row -->
    <div class="row mt-3">
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-2"><span class="query_filter_name">({{ query_filter }})</span> WAC Sales</div>
                            <div class="py-3 text-center text-lg text-success" id="divCounterWacSales"></div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('WAC Sales','product','wac_sales')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('WAC Sales','contract','wac_sales')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('WAC Sales','distributor','wac_sales')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-2"><span class="query_filter_name">({{ query_filter }})</span> Contract Sales</div>
                            <div class="py-3 text-center text-lg text-success" id="divCounterContractSales"></div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Contract Sales','product','contract_sales')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Contract Sales','contract','contract_sales')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Contract Sales','distributor','contract_sales')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-2"><span class="query_filter_name">({{ query_filter }})</span> Chargeback Lines</div>
                            <div class="py-3 text-center text-lg text-primary" id="divCounterCbLines">
                            </div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Lines','product','cb_lines')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Lines','contract','cb_lines')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Lines','distributor','cb_lines')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- second row -->
    <div class="row mt-3">
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-1"><span class="query_filter_name">({{ query_filter }})</span> Chargeback Credits Requested</div>
                            <div class="py-3 text-center text-lg" id="divCounterCbCreditsRequested"></div>
                        </div>
                        <div class="col-3 mt-sm-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" title="By Product" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Requested','product','cb_credits_requested')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" title="By Contract" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Requested','contract','cb_credits_requested')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" title="By Distributor" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Requested','distributor','cb_credits_requested')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-2"><span class="query_filter_name">({{ query_filter }})</span> Chargeback Credits Issued</div>
                            <div id="cbCreditsIssuedloader" class="text-center" style="display: none;">
                               <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                            </div>
                            <div class="py-3 text-center text-lg" id="divCounterCbCreditsIssued"></div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Issued','product','cb_credit_issued')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Issued','contract','cb_credit_issued')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Issued','distributor','cb_credit_issued')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-9">
                             <div class="font-15 _600 ml-2"><span class="query_filter_name">({{ query_filter }})</span> Chargeback Credits Adjusted</div>
                              <div class="py-3 text-center text-lg" id="divCounterCbCreditsAdjusted"></div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Adjusted','product','cb_credit_adjusted')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Adjusted','contract','cb_credit_adjusted')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Chargeback Credits Adjusted','distributor','cb_credit_adjusted')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- third row -->
    <div class="row mt-3">
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-1">
                    <div class="font-15 _600 ml-2">Projected Indirect Sales for {{ current_month }} {{ current_year }}</div>
                    <div class="d-inline-flex justify-content-center w-100 my-md-2" id="divCounterProjectedIndcSales">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-9">
                            <div class="font-15 _600 ml-2">Average Chargeback Amount: <span class="query_filter_name">({{ query_filter }})</span></div>
                            <div class=" d-inline-flex justify-content-center w-100 my-md-2" id="divCounterGrowth"></div>
                        </div>
                        <div class="col-3 mt-4">
                            <ul class="iconSetRight">
                                <li class="nav-item">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Average Chargeback Amount','product','avg_cb_amount')"><i class="fas fa-prescription-bottle-alt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Average Chargeback Amount','contract','avg_cb_amount')"><i class="fas fa-receipt dashboard_metric_icon"></i></a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a href="#" onclick="DASHBOARD.common_sales_graph_by_category('Average Chargeback Amount','distributor','avg_cb_amount')"><i class="fas fa-dolly dashboard_metric_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card_height">
                <div class="card-body p-1">
                    <div class="font-15 _600 ml-2">New Indirect Customers for {{ current_month }}</div>
                    <div class="d-inline-flex justify-content-center w-100 my-md-2" id="divCounterNewIndc"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- fourth row -->
    <div class="row mt-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-17 _600 ml-1">Chargebacks</h5>
                    <div id="chargebacks_distribution_container">
                        <div class="row text-center mt-2">
                            <div class="col-12">
                                <div id="myChargeBackChartLoader" style="display: none;">
                                    <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myChargeBackChart" class="canvas_40_percent"></canvas>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="text-success font-12 pull-left font-weight-bold">Processed</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="text-success pull-right" id="chargeback_processed"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="text-danger pull-left font-12 font-weight-bold">Open</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="text-danger pull-right" id="chargeback_open"></span>
                                    </div>
                                </div>
                                {#                            <div class="row">#}
                                {#                                <div class="col">#}
                                {#                                    <span class="font-12 font-weight-bold">Chargeback Lines</span>#}
                                {#                                </div>#}
                                {#                                <div class="col">#}
                                {#                                    <span class="pull-right" id="chargeback_lines_count"></span>#}
                                {#                                </div>#}
                                {#                            </div>#}
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="" id="cb_click_val">
                    <div class="row text-center" id="chargebacks_distribution_by_other_categories" style="display: none">
                        <div class="col-3 text-right mt-3">
                            <select id="cb_category_selection" class="form-control" onchange="DASHBOARD.draw_cb_sales_by_other_categories_graph($(this))">
                                <option value="product">By Product</option>
                                <option value="contract">By Contract</option>
                                <option value="distributor">By Server</option>
                            </select>
                        </div>
                        <div class="col-9 text-right mt-3">
                            <a class="btn btn-sm btn-warning" onclick="DASHBOARD.open_expanded_chargeback_graph()">Expand</a>
                            <a class="btn btn-sm btn-primary" onclick="DASHBOARD.back_to_chargeback_chart()">Back</a>
                        </div>
                        <div class="col-3 mt-3"></div>
                        <div class="col-12">
                            <div id="cbSalesByOtherCategories" style="display: none">
                                <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                            <canvas id="cb_salse_by_other_categories"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-17 _600 ml-1"><span id="indirect_sales_label"> ({{ query_filter }}) Indirect Sales by Distributor</span></h5>
                    <div id="indc_sales_by_distributor">
                        <div class="row text-center mt-2">
                            <div class="col-12">
                                <div id="salesDistributionChartLoader" style="display: none">
                                    <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                <canvas id="salesDistributionChart" class="canvas_40_percent"></canvas>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0">
                                <div id="chart-legends" class="w-100"></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <input type="hidden" value="" id="dc_id">
                    <div class="row text-center" id="sales_by_other_categories" style="display: none">
                        <div class="col-4 text-right">
                            <select id="indc_category_selection" class="form-control" onchange="DASHBOARD.draw_indirect_sales_by_other_categories_graph($(this))">
                                <option value="product">By Product</option>
                                <option value="contract">By Contract</option>
                                <option value="distribution_center">By Distribution Center</option>
                            </select>
                        </div>
                        <div class="col-8 text-right">
                            <a class="btn btn-sm btn-warning" onclick="DASHBOARD.open_expanded_indirect_sales_graph()">Expand</a>
                            <a class="btn btn-sm btn-primary" onclick="DASHBOARD.back_to_distributor_chart()">Back</a>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-12">
                            <div id="salesByOtherCategoriesLoader" style="display: none">
                                <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                            <canvas id="indc_salse_by_other_categories"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fith section -->
    <div class="row mt-4 mb-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-17 _600"><span class="query_filter_name">({{ query_filter }})</span> Overall Sales Revenue</h5>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <div id="overAllSalesRevenueChartLoader" style="display: none">
                                <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                            </div>
                            <canvas id="overAllSalesRevenue"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-17 _600">
                        <div class="row">
                            <div class="col-3">
                                <select onchange="DASHBOARD.apply_net_income_filter($(this));" class="form-control myselect2" id="net_income_filter">
                                    {% for y in past_years %}
                                        <option value="{{ y }}" {% if y == today.year %} selected {% endif %}>{{ y }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-9">
                                Net Income
                            </div>
                        </div>
                    </h5>
                    <div class="row">
                        <div class="col text-center">
                            <div id="myNetIncomeChartChartLoader" style="display: none">
                                <img src="{% static 'images/loading2.gif' %}" width='55' height='55' alt='chart_loader'/>
                            </div>
                            <canvas id="myNetIncomeChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'dashboard/includes/modals.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/libs/Chart.min.js' %}"></script>
    <script src="{% static 'js/app/dashboard.js' %}"></script>
{% endblock %}
