<!-- Head Menu -->
<div class="d-flex justify-content-end nav-active-primary">
    <ul class="nav nav-tabs font-11">
        <li class="nav-item">
            <span db="{{ db_name }}" target="/report_builder/edit/{{ report.id }}" class="nav-link {% if active_tab == 'e' %}active{% endif %}">
                <a class="tt" onclick="APP.execute_url($(this))">
                    <i class="fa fa-list"></i> Fields
                </a>
            </span>
        </li>

        <li class="nav-item">
            <span db="{{ db_name }}" target="/report_builder/edit/{{ report.id }}/filterfields?tab=f" class="nav-link {% if active_tab == 'f' %}active{% endif %}">
                <a class="tt" onclick="APP.preview_execute_url($(this),'{{ report.id }}',false)">
                    <i class="fa fa-list"></i> Filters
                </a>
            </span>
        </li>

        <li class="nav-item">
            <span db="{{ db_name }}" target="/report_builder/edit/{{ report.id }}/preview?tab=p" class="nav-link {% if active_tab == 'p' %}active{% endif %}">
                <a class="tt" onclick="APP.preview_execute_url($(this),'{{ report.id }}',false)">
                    <i class="fa fa-television"></i> Preview
                </a>
            </span>
        </li>

        <li class="nav-item">
            <span db="{{ db_name }}" target="/report_builder/edit/{{ report.id }}/run_parameters?tab=r" class="nav-link {% if active_tab == 'r' %}active{% endif %}">
                <a class="tt" onclick="APP.execute_url($(this))">
                    <i class="fa fa-play-circle"></i> Run Parameters
                </a>
            </span>
        </li>
    </ul>
</div>