{% load static %}

<div class="tab-pane" id="tabAlerts">
    <div class="p-3 b-b _600 empower-color-blue font-14">Alerts</div>
    <div class="col-md-7 p-3">
{#  TICKET EA-1275 Hide Settings options #}
{#        <div class="row">#}
{#            <div class="col-8">#}
{#                <p class="font-12">Alert Enabled</p>#}
{#            </div>#}
{#            <div class="col-4">#}
{#                <label class="switch">#}
{#                    <input type="checkbox" onclick="SETTINGS.update_option($(this), 'alert_enabled')" {% if company_settings.alert_enabled %}checked{% endif %}/>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-8">#}
{#                <p class="font-12">Alert Sent in Single Daily Digest</p>#}
{#            </div>#}
{#            <div class="col-4">#}
{#                <label class="switch">#}
{#                    <input type="checkbox" onclick="SETTINGS.update_option($(this), 'alert_sent_in_single_daily_digest')" {% if company_settings.alert_sent_in_single_daily_digest %}checked{% endif %}/>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>