{% load static %}

<div class="tab-pane" id="tabChargebacks">
    <div class="p-3 b-b _600 empower-color-blue font-14">Chargebacks</div>

    <div class="col-7 p-3">
        <div class="row">
            <div class="col-8">
                <p class="font-12">Automatic Chargeback Processing</p>
            </div>
            <div class="col-4">
                <label class="switch">
                    <input type="checkbox" onclick="SETTINGS.update_option($(this), 'automatic_chargeback_processing')" {% if company_settings.automatic_chargeback_processing %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
            <!-- indent suboptions -->
            <div class="col-1"></div>
            <div class="col-7">
                <p class="font-12"><i class="fas fa-circle font-9 mr-1"></i> Automate Import</p>
            </div>
            <div class="col-4">
                <label class="switch">
                    <input id="inputAutomateImport" type="checkbox" onclick="SETTINGS.update_option($(this), 'automate_import')" {% if company_settings.automate_import %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-8">
                <p class="font-12">EmpowerRM dictates Credit/Debit Numbers to Accounting System</p>
            </div>
            <div class="col-4">
                <label class="switch">
                    <input type="checkbox" onclick="SETTINGS.update_option($(this), 'generate_transaction_number')" {% if company.is_none_integration or company_settings.generate_transaction_number %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-8">
                <p class="font-12">Accounting Integration System</p>
            </div>
            <div class="col-4">
                <div class="row" style="margin-left:0px!important;">
                    <span class="width-80">
                        <select id="selectAccountingIntegrations"  onchange="$('#modalAccountingIntegrationChange').modal('show');" class="myselect2 form-control text-right" >
                            {% for integration_system in integration_systems_list %}
                                <option value="{{ integration_system.0 }}" {% if company.integration_system.get_id_str == integration_system.0 %}selected{% endif %}>
                                    {{ integration_system.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </span>
                    {% if not company.is_manual_integration and not company.is_none_integration %}
                        <span class="mr-2">
                            <a onclick="SETTINGS_CHARGEBACKS.show_modal_accounting_integration_config();">
                                <i class="fa fa-pencil-square-o font-17 mt-1"></i>
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row mt-1">
            <div class="col-8">
                <p class="font-12">Expired CB Threshold</p>
            </div>
            <div class="col-4">
                <div class="row" style="margin-left:0px!important;">
            <span class="mr-2">
                <label class="switch">
                    <input type="checkbox"  onclick="SETTINGS.update_cb_threshold_option($(this), 'expired_cb_threshold','{{company_settings.enable_expired_cb_threshold}}','{{company_settings.expired_cb_threshold}}')" id="enable_expired_cb_threshold" {% if company_settings.enable_expired_cb_threshold and company_settings.expired_cb_threshold and company_settings.expired_cb_threshold != None %}checked{% endif %} />

                    <span class="slider round"></span>
                </label>
            </span>
            <span style="width:80%!important;max-width:31%!important">
             <input type="text" name="expired_cb_threshold" id="expired_cb_threshold" class="form-control height-30"  value="{{ company_settings.expired_cb_threshold }}" onchange="SETTINGS.update_cb_threshold_value_option($(this), 'val_expired_cb_threshold','{{company_settings.enable_expired_cb_threshold}}','{{company_settings.expired_cb_threshold}}')" >
            </span>
                </div>
            </div>

        </div>
    </div>
</div>
{% if company_settings.enable_expired_cb_threshold == False %}
    <script>
        $(function (){
            if($('#expired_cb_threshold').val()== "None"){
                $('#expired_cb_threshold').val('');
            }
            $('#expired_cb_threshold').hide();
        });
    </script>
{% endif %}