{% extends 'base.html' %}

{% load static %}
{% load extras %}

{% block content_header_left %}
    {{ header_title }}
{% endblock %}


{% block content_header_center %}
    {% include 'contracts/details/menu.html' %}
{% endblock %}

{% block content_header_right %}
    {% if is_read_only_user %}
    <span>
        <a onclick="APP.get_read_only_user_error();" class="btn btn-warning">
            Create Contract
        </a>
    </span>
    {% else %}
    <span db="{{ db_name }}" target="/contracts/create">
        <a onclick="APP.execute_url($(this))" class="btn btn-warning">
            Create Contract
        </a>
    </span>
    {% endif %}
    {% if is_read_only_user %}
    <span>
        <a onclick="APP.get_read_only_user_error();" class="btn btn-primary"> Edit Contract</a>
    </span>
    {% else %}
    <span db="{{ db_name }}" target="/contracts/{{ contract.id }}/edit?active_tab=1">
        <a onclick="APP.execute_url($(this))" class="btn btn-primary"> Edit Contract</a>
    </span>
    {% endif %}
{#    <a class="btn btn-warning" onclick="APP.show_notifications('Contract');">#}
{#        <i class="fas fa-tasks"></i>#}
{#    </a>#}
{% endblock %}


{% block content_body %}
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <p class="empower-color-blue _600 font-13">
                                Members on Contracts
                            </p>
                        </div>
                        <div class="col-8 pull-right">
                            <div class="nav-active-border b-primary bottom">
                                <div id="divContractTabOptionsManageMembership" class="nav nav-md pull-right font-11">
                                    <a onclick="MEMBERS_ON_CONTRACTS.load_data($(this), '{{ status_active }}')" class="nav-link active">
                                        <i class="fa fa-check-circle"></i> Active
                                    </a>
                                    <a onclick="MEMBERS_ON_CONTRACTS.load_data($(this), '{{ status_inactive }}')" class="nav-link">
                                        <i class="fa fa-times-circle"></i> Inactive
                                    </a>
                                    <a onclick="MEMBERS_ON_CONTRACTS.load_data($(this), '{{ status_pending }}')" class="nav-link">
                                        <i class="fa fa-info-circle"></i> Pending
                                    </a>
                                    <a onclick="MEMBERS_ON_CONTRACTS.load_data($(this), '0')" class="nav-link">
                                        <i class="fa fa-circle"></i> All
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table id="tableContractManageMembership" class="table table-hover table-borderless table-condensed table-striped w-100">
                                <thead class="bg-light">
                                <tr class="font-11 text-dark">
                                    <th>Location Number</th>
                                    <th>Company Name</th>
                                    <th>Location Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th>Cot</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'contracts/modals.html' %}
{% endblock %}

{% block scripts %}
    <!-- Custom Scripts -->
    <script src="{% static 'js/app/contracts/members_on_contracts.js' %}"></script>
    <script>
        let CONTRACT_ID = '';
        {% if contract %}
            CONTRACT_ID = "{{ contract.get_id_str }}";
        {% endif %}
    </script>
{% endblock %}