{% load static %}
{% load extras %}


<!--<div class="form-inline">
  <div class="form-group">
    <label for="inputContractManageMembershipEffectiveDate">Contract Start Date</label>
    <input type="text" id="inputContractManageMembershipEffectiveDate" class="form-control mx-sm-3 datepicker" placeholder="mm/dd/yyyy" value="{{ contract.start_date|date:'m/d/Y' }}" />
  </div>
    <div class="form-group">
    <label for="inputContractManageMembershipEndDate">Contract End Date</label>
    <input type="text" id="inputContractManageMembershipEndDate" class="form-control mx-sm-3 datepicker" placeholder="mm/dd/yyyy" value="{{ contract.end_date|date:'m/d/Y' }}" />
  </div>
</div>
<hr/>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label for="inputContractManageMembershipFilter" class="col-sm-1 col-form-label">Filter</label>
            <div class="col-sm-11">
              <input type="text" id="inputContractManageMembershipFilter" class="form-control width-80 font-12">
            </div>
        </div>
        <table id="tableContractManageMembershipModal" class="table table-hover table-borderless table-condensed">
            <th>
                <tr class="font-11 text-dark">
                    <td></td>
                    <th>Location</th>
                    <th>Company Name</th>
                    <th>Start Date</th>
                    <th>End date</th>
                </tr>
            </th>
            <tbody>
                <tr>
                    <td colspan="5" style="text-align:left;">
                        <label class="md-check">
                            <input type="checkbox" id="inputContractManageServerAll" onclick="TAB_MANAGE_MEMBERSHIP.update_all_checkboxes($(this))" />
                            <i class="blue"></i>
                        </label>
                        <span>Select All</span>
                    </td>
                </tr>

            {% for indirect_customer in indirect_customers %}
                <tr icid="{{ indirect_customer.id }}" idcname="{{ indirect_customer.company_name }}" idcln="{{ indirect_customer.location_number }}">
                    <td>
                        <label class="md-check">
                            <input type="checkbox" id="checkboxContractManagerMembership_{{ indirect_customer.id }}" class="checkboxContractManagerMembership" />
                            <i class="blue"></i>
                        </label>
                    </td>
                    <td class="text-left">{{ indirect_customer.location_number }}</td>
                    <td class="text-left">{{ indirect_customer.company_name }}</td>
                    <td>
                        <input type="text" class="inputManagerMembershipStartDate form-control datepicker" placeholder="mm/dd/yyyy" />
                    </td>
                    <td>
                        <input type="text" class="inputManagerMembershipEndDate form-control datepicker" placeholder="mm/dd/yyyy" />
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>-->