{% extends 'base.html' %}
{% load static %}
{% load extras %}


{% block content_body %}

    <div class="d-sm-flex">

        <!-- Tabs Options -->
        <div class="w w-auto-xs light bg bg-auto-sm b-r">
            <div class="py-3">
                <div class="nav-active-border left b-primary">
                    <ul class="nav nav-nm flex-column">
                        <!-- Root Model -->
                        <li class="nav-item">
                            <p class="_700 font-12 m-0 border-bottom w-75">Main Table</p>
                            <a class="nav-link menus active" onclick="REPORT_BUILDER.get_model_fields('{{ root_model }}','','filter',$(this))">{{ root_model }}</a>
                        </li>
                        <!-- Related fields -->
                        <li class="nav-item mt-1">
                            <p class="_700 font-12 m-0 border-bottom w-75">Related Fields</p>
                            <ul class="nav nav-nm flex-column related_fields_container" style=" height: 200px; overflow: auto" id="related_fields_container">
                                {% for elem in related_fields %}
                                    <li class="nav-item font-11 m-0">
                                        <a class="nav-link menus related_fields" model_name="{{ elem.model_name }}" field_name="{{ elem.name }}" ref_path="{{ elem.name }}__" onclick="REPORT_BUILDER.get_all_fields($(this), 'filter')"> {{ elem.name }} </a>
                                        <ul style="list-style-type:none;" id="{{ elem.model_name }}_____{{ elem.name }}"></ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- Regular model fields -->
                        <li class="nav-item mt-1">
                            <p class="_700 font-12 m-0 border-bottom w-75">Fields</p>
                            <ul class="nav nav-nm flex-column regular_fields_container mt-2" style=" height: 200px; overflow: auto" id="regular_fields_container">
                                {% for elem in regular_fields %}
                                    <li class="nav-item font-11 m-0" style="display : inline-block; word-break : break-all;">
                                        <a class="nav-link menus"> {{ elem.name }} <i class="fa fa-plus-square float-right empower-color-blue" ref_path="" onclick="REPORT_BUILDER.add_filter_to_report($(this))" field_name="{{ elem.name }}" field_type="{{ elem.field_type }}"></i></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- TABS -->
        <div class="col p-2">
            <div class="tab-content pos-rlt">

                <div id="content">
                    <div class="row">
                        <div class="col-2 text-left"></div>
                        <div class="col-6 text-center">{% include 'report_builder/includes/menu.html' %}</div>
                        <div class="col-4 text-right"><button id="go_to_reports" class="btn btn-warning" onclick="REPORT_BUILDER.go_to_reports()">Go to Reports</button></div>
                    </div>
                    <hr class="empower_background_blue p-0 mt-0"/>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
{#                                    {% include 'report_builder/includes/update_report.html' %}#}
                                    <table class="table table-striped table-bordered" id="reportFilterFields">
                                        <thead>
                                            <tr style="background-color: lightgrey">
                                              <th scope="col">Id</th>
                                              <th scope="col">Field</th>
                                              <th scope="col">Action</th>
                                              <th scope="col">Value</th>
                                              <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6 text-right" id="save_button_container">
                                            <button id="save_filter_button" class="btn btn-primary" onclick="REPORT_BUILDER.save_filter_changes()" disabled>Save Changes</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let REPORT_ID = '';
        {% if report %}
            REPORT_ID = "{{ report.get_id_str }}";
        {% endif %}
        let REPORT_FILTER_TYPES = [];
        {% for rf in report_filter_types %}
            REPORT_FILTER_TYPES.push({
                "action": "{{ rf.0 }}",
                "name": "{{ rf.1 }}",
            });
        {% endfor %}
    </script>
    <script src="{% static 'js/app/report_builder/report_builder.js' %}"></script>
    <script>
        $(function () {
            REPORT_BUILDER.load_report_filter_field();
        })
    </script>

{% endblock %}