{% load static %}

<!-- Confirmation message - Accounting Integration -->
<div class="modal fade" id="modalAccountingIntegrationChange" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header empower_background_yellow">
                <h5 class="modal-title">Change Accounting Integration</h5>
            </div>
            <div class="modal-body">
                <p class="_600 text-justify font-14">
                    Are you sure you would like to change the Accounting Integration?
                    Changing this to the wrong option will prevent Chargebacks from being processed correctly.
                </p>
            </div>
            <div class="modal-footer">
                <span db="{{ db_name }}" target="/settings">
                    <a class="btn btn-primary" data-dismiss="modal" onclick="APP.execute_url($(this))"> NO</a>
                </span>
                <a class="btn btn-warning" onclick="SETTINGS_CHARGEBACKS.change_integration_type();"> YES</a>
            </div>
        </div>
    </div>
</div>

<!-- Accounting Integration - If is Acumatica/Quickbooks/Dynamics365 -->
<div class="modal fade" id="modalAccountingIntegrationConfigurationData" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header empower_background_yellow">
                <h5 class="modal-title">Accounting Integration - Configurations</h5>
            </div>
            <div class="modal-body p-4">
                <!-- Accumatica Form -->
                <form id="fmAccountingIntegrationConfigurationDataAC" autocomplete="off" style="display: none">
                    <div class="form-group row required">
                        <label for="ai_username" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Base URL
                        </label>
                        <div class="col-10">
                            <input type="text" id="ai_base_url" class="form-control height-25" value="{{ company.integration_config.base_url }}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ai_username" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Username
                        </label>
                        <div class="col-10">
                            <input type="text" id="ai_username" class="form-control height-25" value="{% if company.integration_config %}{{ company.integration_config.auth.username }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ai_password" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Password
                        </label>
                        <div class="col-10">
                            <div class="input-group mb-2">
                                <input type="password" id="ai_password" class="form-control height-25" value="{{ company.integration_config.auth.password }}">
                                <div class="input-group-append height-25">
                                    <a class="btn white tt" type="button" title="show password" onclick="SETTINGS_CHARGEBACKS.show_hide_password('ai_password');">
                                        <i class="fa fa-eye" style="vertical-align: top"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ai_company" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Company
                        </label>
                        <div class="col-10">
                            <input type="text" id="ai_company" class="form-control height-25" value="{{ company.integration_config.auth.company }}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ai_branch" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Branch
                        </label>
                        <div class="col-10">
                            <input type="text" id="ai_branch" class="form-control height-25" value="{{ company.integration_config.auth.branch }}">
                        </div>
                    </div>

                </form>

                <!-- Quickbooks Form -->
                <form id="fmAccountingIntegrationConfigurationDataQB" autocomplete="off" style="display: none">
                    <div class="form-group row required">
                        <label for="qb_path" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            File Full Path
                        </label>
                        <div class="col-10">
                            <input type="text" id="qb_path" class="form-control height-25" value="{{ company.integration_config.qb_path }}">
                        </div>
                    </div>
                </form>

                <!-- Dynamics365 Form -->
                <form id="fmAccountingIntegrationConfigurationDataDS365" autocomplete="off" style="display: none">
                    <div class="form-group row required">
                        <label for="ds365_login_url" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Login URL
                        </label>
                        <div class="col-10">
                            <input type="text" id="ds365_login_url" class="form-control height-25" value="{{ company.integration_config.login_url }}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ds365_resource_url" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Resource URL
                        </label>
                        <div class="col-10">
                            <input type="text" id="ds365_resource_url" class="form-control height-25" value="{{ company.integration_config.resource_url }}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ds365_client_id" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Client ID
                        </label>
                        <div class="col-10">
                            <input type="text" id="ds365_client_id" class="form-control height-25" value="{{ company.integration_config.client_id }}">
                        </div>
                    </div>

                    <div class="form-group row required">
                        <label for="ds365_client_secret" class="col-2 col-form-label font-10 font-weight-bold control-label">
                            Client Secret
                        </label>
                        <div class="col-10">
                            <div class="input-group mb-2">
                                <input type="password" id="ds365_client_secret" class="form-control height-25" value="{{ company.integration_config.client_secret }}">
                                <div class="input-group-append height-25">
                                    <a class="btn white tt" type="button" title="show password" onclick="SETTINGS_CHARGEBACKS.show_hide_password('ds365_client_secret');">
                                        <i class="fa fa-eye" style="vertical-align: top"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <span db="{{ db_name }}" target="/settings">
                    <a class="btn btn-primary" data-dismiss="modal" onclick="APP.execute_url($(this))"> Cancel</a>
                </span>
                <a class="btn btn-warning" onclick="SETTINGS_CHARGEBACKS.update_accounting_configuration($(this))">Save</a>
            </div>
        </div>
    </div>
</div>
