<!-- Customers main form fmCustomer -->
<form class="p-x-xs" id="{{ formid }}">
    {% csrf_token %}

    <div class="form-group row required">
        <label for="inputIndirectCustomerLocationNo" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            Location No.
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerLocationNo" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.location_number|default_if_none:'' }}" placeholder="DEA or HIN.  Use DEA if available">
        </div>
    </div>

    <div class="form-group row required">
        <label for="inputIndirectCustomerCompanyName" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            Company Name
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerCompanyName" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.company_name|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerAddress1" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            Address 1
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerAddress1" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.address1|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerAddress2" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            Address 2
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerAddress2" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.address2|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerCity" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            City
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerCity" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.city|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerState" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            State
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerState" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.state|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerZipCode" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            ZipCode
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerZipCode" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.zip_code|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerCoT" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            CoT
        </label>
        <div class="col-sm-7 col-sm-offset-1 text-left">
            <select id="selectIndirectCustomerCoT" class="form-control myselect2" {% if disable %}disabled{% endif %} data-placeholder="Select a CoT" tabindex="-1" aria-hidden="true">
                <option value="" {% if not indirect_customer.cot %}selected{% endif %}></option>
                {% for cot in enabled_cots %}
                    {% if indirect_customer.cot.id == cot.id %}
                        <option value="{{ cot.id }}" selected>{{ cot.trade_class }}</option>
                        {% else %}
                            <option value="{{ cot.id }}">{{ cot.trade_class }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomerGLN_No" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            GLN_No
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomerGLN_No" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.gln_no|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIndirectCustomer340B_ID" class="col-sm-3 col-form-label font-10 font-weight-bold ml-3 control-label">
            340B_ID
        </label>
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" id="inputIndirectCustomer340B_ID" class="form-control" {% if disable %}disabled{% endif %} value="{{ indirect_customer.bid_340|default_if_none:'' }}">
        </div>
    </div>

    {% if not disable %}
        <div class="form-group row mt-2" style="text-align: right">
            <label class="col-sm-2 col-form-label font-10 font-weight-bold"></label>
            <div class="col-sm-10">
                <!-- EA-869 - Unable to cancel indirect customer changes. -->
                {% if indirect_customer %}
                    <a href="/{{ db_name }}/customers/indirect/{{ indirect_customer.id }}/details/info" class="btn btn-primary width-80px">
                        Cancel
                    </a>
                    <a id="btnEditIndirectCustomerSubmit" class="btn btn-warning width-80px" onclick="INDIRECT_CUSTOMERS.submit($(this), '{{ formid }}');" {% if indirect_customer %}action="edit"{% endif %}>
                        Save
                    </a>
                {% else %}
                        <a class="btn btn-primary width-80px" data-dismiss="modal">
                        Cancel
                    </a>
                    <a id="btnIndirectCustomerSubmit" class="btn btn-warning width-80px" onclick="INDIRECT_CUSTOMERS.submit($(this));" {% if indirect_customer %}action="edit"{% endif %}>
                        Save
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

</form>